<form method="POST" action="/applications/add">
  <label for="username">Name:</label>
  <input type="text" name="name"><br>
  <label for="username">Initial LongLived Token:</label>
  <input type="text" name="token"><br>
  <button>Add</button>
</form>
