<form method="POST" action="/applications/{{ app.id }}/edit">
  <input type="hidden" name="id" value="{{ app.id }}">
  <label for="username">Name:</label>
  <input type="text" name="name" value="{{ app.name }}"><br>
  <label for="username">Initial LongLived Token:</label>
  <input type="text" name="token" value="{{ app.token }}"><br>
  <button>Save</button>
</form>
