<a href="/add">Add application</a>
<ul class="people_list">
  {{#each apps}}
    <li>
      <b>{{ this.name }}</b>
      <a href="/edit/{{ this.id }}">edit</a>
      <form method="post" action="/applications/{{ this.id }}/delete"><button>Delete</button></form>
    </li>
  {{/each}}
</ul>

<br>
<br>
<a href="/logout">Logout</a>
