<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    Logged user:
    {{ user }}

    <br>
    <br>
    <a href="/logout">Logout</a>
  </body>
</html>
