<form method="POST" action="/auth/login" class="form">
  <h2>Login</h2>
  <div class="input">
    <label for="username">Username:</label>
    <input type="text" name="username" required />
  </div>
  <div class="input">
    <label for="username">Password:</label>
    <input type="password" name="password" required />
  </div>
  <button class="btn">Login</button>
</form>
