<form method="POST" action="/auth/login">
  <label for="username">Username:</label>
  <input type="text" name="username" value="admin"><br>
  <label for="username">Password:</label>
  <input type="password" name="password" value="password"><br>
  <button>Login</button>
</form>
