<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <form method="POST" action="/auth/login">
      <label for="username">Username:</label>
      <input type="text" name="username" value="admin"><br>
      <label for="username">Password:</label>
      <input type="password" name="password" value="password"><br>
      <button>Login</button>
    </form>
  </body>
</html>
