<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Instagram Token Refresher</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <header class="header"><h1>Instagram Token Refresher</h1></header>
    <article class="content">
      {{{ body }}}
    </article>
    <footer class="footer">Escola &copy; 2021</footer>
  </body>
</html>
